* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#signin {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
	
    background-color:#32383d;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;
}

/*start of login*/
.app {
    background: url(../images/Logo.jpg) no-repeat center top;
    position: absolute;             
    left: 50%;
    top: 30%;
    height: 50px;                  
    width: 225px;                   
    text-align: center;
    padding: 180px 0px 0px 0px;     
    margin: -115px 0px 0px -112px;

    /*
    width: 100%;
    padding: 12px 0px ;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #f0f5f5;
    box-shadow: 0 0 35px #74ebe6;
    border: 3px solid #74ebe6;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
        */


}


#Error {
    position:relative;
    top:-100%;
}

#login_form1 {
    width: 150%;
    padding: 12px 20px ;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
     box-shadow: 0 0 35px #74ebe6;
    border: 3px solid #74ebe6;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    position:absolute;
    top:100%;
    left:-25%;

}

#login_form1:focus{
    border: 3px solid #66ff33;
}


#login_form2:focus{
    border: 3px solid #66ff33;
}

#login_form2 {
    width: 150%;
    padding: 12px 20px ;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    border: 3px solid #74ebe6;
    -webkit-transition: 0.5s;
      box-shadow: 0 0 35px #74ebe6;

    transition: 0.5s;
    outline: none;
    position:absolute;
    top:130%;
    left:-25%;

}

#login_text1 {
    position:absolute;
    top:95%;
    left:40%;
    font-weight:200;
    font-size:15px;
    font-weight: bold;
}


#login_text2 {
    position:absolute;
    top:125%;
    left:33%;
    font-weight:200;
    font-size:15px;
    font-weight: bold;
}

#login_part1 {

}

#login_part2 {
    position:absolute;
    left:10%;
    top:150%;
}

#login_login {
     background-color: #74ebe6;
    position: absolute;
    border: none;
    color: black;
    text-decoration: none;
    margin-left: 30%;
    cursor: pointer;
    box-shadow: 0 0 35px #74ebe6;
    border: 3px solid #74ebe6;
    padding:5px;
    margin-top: 0.10cm;
    width: 150%;
    font-weight:bold;
    top:80%;
    left:-55%;
}
#login_register {
     background-color: #74ebe6;
    position: absolute;
    border: none;
    color: black;
    text-decoration: none;
    margin-left: 30%;
    cursor: pointer;
    box-shadow: 0 0 35px #74ebe6;
    border: 3px solid #74ebe6;
    padding:5px;
    margin-top: 0.10cm;
    width: 150%;
    font-weight:bold;
    top:150%;
    left:-55%;
}

/* End of Login Page*/

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;
        margin:-90px 0px 0px -198px;
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/*
    For menu across the whole site for uniform looking buttons

*/
.menu {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    height:auto;
    background-color:lightblue;
}

.menuImage {
    width:15%;
    margin-left:4.5%;
    margin-right:4.5%;
    height:50px;
}
/* card payment form text box holders*/

#cvc {
    width:50px;
}
#month, #year
{
    width:50px;
}

#Error
{
    color:red;
}

.menuIcon
{
    width:45%;
    height:45%;
    padding:1%;
}

.background
{
    background-color:aqua;
    height:100%;
}


#register {
   -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, white),
        color-stop(0.51, white)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
	
    background-color:#32383d;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;
}
/*  Profile Page */


#profile_heading {
    font-weight:900;
    font-size:30px;
}

.profile {
    width: 100%;
    padding: 12px 20px ;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #f0f5f5;
    box-shadow: 0 0 35px #74ebe6;
    border: 3px solid #74ebe6;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.profile_2 {
    width: 100%;
    padding: 12px 20px ;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: lightgray;
    box-shadow: 0 0 35px #74ebe6;
    border: 3px solid #74ebe6;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.profile:focus{
    border: 3px solid #66ff33;
}

.profile_background {
background-color:white;

}

#profile_botton {
  background-color: #74ebe6;
    position: relative;
    border: none;
    color: black;
    text-decoration: none;
    margin-left: 30%;
    cursor: pointer;
    box-shadow: 0 0 35px #74ebe6;
    border: 3px solid #74ebe6;
    height:25px;
    padding:5px;
    margin-top: 0.10cm;
    width:40%; 
  
}
.profile_font {
    font-weight:200;
    font-size:15px;
    font-weight: bold;
    
}


/*end of profile page*/


/* card */

.card {
    width: 100%;
    padding: 12px 0px ;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #f0f5f5;
    box-shadow: 0 0 35px #74ebe6;
    border: 3px solid #74ebe6;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.card:focus{
    border: 3px solid #66ff33;
}

.card_background {
background-color:white;

}

#card_botton {
  background-color: #74ebe6;
    position: relative;
    border: none;
    color: black;
    text-decoration: none;
    margin-left: 30%;
    cursor: pointer;
    box-shadow: 0 0 35px #74ebe6;
    border: 3px solid #74ebe6;
    padding:5px;
    margin-top: 0.10cm;
    width:40%; 
  
}
.card_font {
    font-weight:200;
    font-size:15px;
    font-weight: bold;
    
}
/*The end of Card page*/

/*Pay1*/

#amount {
    width: 90%;
    padding: 12px 20px ;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 35px #74ebe6;
    border: 3px solid #74ebe6;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    position:absolute;
    top:40%;


}

#amount:focus {
    border: 3px solid #5BF68A;
    
}

#top_text {
    color: black;
    font-weight: bold;
    display: block;
    width: 90%;
    position: absolute;
     font-weight:200;
    font-size:40px;
    top:20%;
    
}


#pay1_button {
  background-color: #66ff33;
    position: absolute;
    border: none;
    color: black;
    text-decoration: none;
    margin-left: 30%;
    cursor: pointer;
    box-shadow: 0 0 35px #66ff33;
    border: 3px solid #66ff33;
    padding:5px;
    margin-top: 0.10cm;
    width:40%; 
    font-weight:bold;
    top:50%;
  
}

/*End of Pay1*/

/*The history style*/

#transactionTable {
    font-family:"Helvetica Neue", Helvetica, sans-serif
}
#tHead {
  background: SteelBlue;
  color: white;
}
/*
    .th,
.td {
  padding: 5px 10px;
}
*/

#transactionTable td, #transactionTable tr, #transactionTable th {
    padding: 5px 10px;
}
#tBody tr:nth-child(even) {
  background: WhiteSmoke;
}


#tBody tr td:nth-child(2) {
  text-align:center;
}

#tBody tr td:nth-child(3),
#tBody tr td:nth-child(4) {
  text-align: right;
  font-family: monospace;
}
/*The end of history page*/


/*  Register page */
.register_box {
    width: 100%;
    padding: 12px 20px ;
    margin: 8px 0;
    box-sizing: border-box;
    background-color:white;
    box-shadow: 0 0 35px #74ebe6;
    border: 3px solid #74ebe6;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    position:relative;
}

#control_height {
    padding-top:80px;
}

.register_box:focus {
    border: 3px solid #5BF68A; 
}

#reg_submit{
     background-color: #74ebe6;
    position: absolute;
    border: none;
    color: black;
    text-decoration: none;
    margin-left: 30%;
    cursor: pointer;
    box-shadow: 0 0 35px #74ebe6;
    border: 3px solid #74ebe6;
    height:50px;
    padding:5px;
    margin-top: 0.10cm;
    width:40%; 
    top:75%;
    font-weight:bold;
        
}

#reg_back {

    background-color: #74ebe6;
    position: absolute;
    border: none;
    color: black;
    text-decoration: none;
    margin-left: 30%;
    cursor: pointer;
    box-shadow: 0 0 35px #74ebe6;
    border: 3px solid #74ebe6;
    height:50px;
    padding:5px;
    margin-top: 0.20cm;
    width:40%; 
    top:86%;
    font-weight:bold;
}

#reg_colour {
    background-color:white;
}
#reg_text {
    font-weight:800;
    font-size:50px;
}
.reg_font {
    color: blue;
    font-weight: bold;
    display: block;
    width: 50%;
    position: absolute;
}
/*end of register page*/

/*The Pay 2 style*/

.pay_button, .scan_button {
  background-color: #74ebe6;
  box-shadow: 0 0 35px #74ebe6;
  border: 3px solid #74ebe6;
  border: 0;
  width: 350px;
  height: 40px;
  position:relative;
  margin-top:25%;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.pay_button:hover, .scan_button:hover {
  animation-name: shake;
}

/*The end of Pay 2*/